In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('SitePerformance FY2015 to FY2020Q4.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527801 entries, 0 to 527800
Data columns (total 29 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Report Name     527801 non-null  object
 1   Operating Unit  527801 non-null  object
 2   PSNU            527801 non-null  object
 3   Facility        520185 non-null  object
 4   Indicator       527801 non-null  object
 5   Description     527801 non-null  object
 6   2015 Q1+Q2-R    210594 non-null  float64
 7   2015 Q3-R       140844 non-null  float64
 8   2015 Q4-R       237387 non-null  float64
 9   2016 Q1-R       115169 non-null  float64
 10  2016 Q2-R       185747 non-null  float64
 11  2016 Q3-R       111164 non-null  float64
 12  2016 Q4-R       202001 non-null  float64
 13  2017 Q1-R       156019 non-null  float64
 14  2017 Q2-R       198066 non-null  float64
 15  2017 Q3-R       162360 non-null  float64
 16  2017 Q4-R       249520 non-null  float64
 17  2018 Q1-R       176676 non-null  float64
 18  2018 Q2-R       231173 non-null  float64
 19  2018 Q3-R       184975 non-null  float64
 20  2018 Q4-R       289911 non-null  float64
 21  2019 Q1-R       230711 non-null  float64
 22  2019 Q2-R       259998 non-null  float64
 23  2019 Q3-R       235467 non-null  float64
 24  2019 Q4-R       277046 non-null  float64
 25  2020 Q1-R       238645 non-null  float64
 26  2020 Q2-R       274847 non-null  float64
 27  2020 Q3-R       241856 non-null  float64
 28  2020 Q4-R       287597 non-null  float64
dtypes: float64(23), object(6)
memory usage: 116.8+ MB

In [11]:
vndf = df[df['Operating Unit'] == 'Vietnam']
vndf

,Report Name,Operating Unit,PSNU,Facility,Indicator,Description,2015 Q1+Q2-R,2015 Q3-R,2015 Q4-R,2016 Q1-R,...,2018 Q3-R,2018 Q4-R,2019 Q1-R,2019 Q2-R,2019 Q3-R,2019 Q4-R,2020 Q1-R,2020 Q2-R,2020 Q3-R,2020 Q4-R
460869,7. Site Performance,Vietnam,An Giang,Facility 1119c1,HTS_TST_POS,Individuals newly tested positive for HIV,42.0,10.0,18.0,14.0,...,23.0,31.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460870,7. Site Performance,Vietnam,An Giang,Facility 1119c1,HTS_TST,Individuals tested for HIV and received their ...,628.0,257.0,276.0,355.0,...,174.0,213.0,187.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460871,7. Site Performance,Vietnam,An Giang,Facility 17223e,TX_NET_NEW,Net increase or decrease in patients receiving...,NaN,NaN,NaN,NaN,...,18.0,6.0,-445.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460872,7. Site Performance,Vietnam,An Giang,Facility 17223e,TX_CURR,People currently receiving antiretroviral therapy,NaN,NaN,NaN,NaN,...,439.0,445.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460873,7. Site Performance,Vietnam,An Giang,Facility 17223e,TX_NEW,People newly enrolled on antiretroviral therapy,NaN,NaN,NaN,NaN,...,22.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463692,7. Site Performance,Vietnam,Vinh Long,Facility dea676,TX_NET_NEW,Net increase or decrease in patients receiving...,NaN,NaN,NaN,NaN,...,14.0,6.0,-16.0,-56.0,NaN,NaN,NaN,NaN,NaN,NaN
463693,7. Site Performance,Vietnam,Vinh Long,Facility dea676,TX_CURR,People currently receiving antiretroviral therapy,NaN,NaN,NaN,NaN,...,66.0,72.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463694,7. Site Performance,Vietnam,Vinh Long,Facility dea676,TX_NEW,People newly enrolled on antiretroviral therapy,NaN,NaN,NaN,NaN,...,14.0,10.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463695,7. Site Performance,Vietnam,Vinh Long,Facility dea676,TX_RET,People who have remained on treatment 12 month...,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463696,7. Site Performance,Vietnam,Vinh Long,Facility dea676,TX_PVLS,"ART patients with suppressed VL results (<1,00...",NaN,NaN,NaN,NaN,...,NaN,30.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN